# Lecture 2

In [5]:
# learn working of operator.
# arithmetic operator
a=5
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)# modulo operator ie remaineder
print(a**b)# power operator; A**b means b raised to power a.

8
2
15
1.6666666666666667
2
125

In [6]:
# relational operator: == , !=,>=,>,<= and <
# their result is always of Bollean data type.
a=50
b=20
print(a==b)
X= 45
Y=45
print(X==Y)# == means equals to in python
print(X!=Y)# != means not equal to in python
print(a!=b)
print(X<Y)
print(X>=Y)     # easy ones
print(a<b)

False
True
False
True
False
True
False

In [7]:
# assignment operator:+=
num = 10
num += 15 # here num+=15 is same as num = num +15
print("num:",num)

num: 25

In [8]:
#assignment operator:-=
num = 50
num -= 32 # here num-=32 is same as num = num -32
print("num :",num)

num : 18

In [9]:
# assignment opertor: *=
num= 60
num*=5 # here num*= 5 is same as num=num*5
print("num:",num)

num: 300

In [10]:
# assignment opeartor: /=
num = 10
num/= 5
print("num is :", num)

num is : 2.0

In [11]:
# assignment opeartor:%=
num = 13
num %= 5
print("num is :", num)

num is : 3

In [12]:
# assignment opeartor:**=
num = 2
num**= 5
print("my num is :",num)

my num is : 32

In [13]:
# logical operator( not, and , or):
# not : its simply opposes the boolean data type
a = 50
b = 45
print(not False)
print(not True)
print(not(a>b)) # becoz print(a>b)is True so its negatation will be false.
print(not(a<b)) # bcoz print(a<b) is False so its negatation will be True.

True
False
False
True

In [ ]:
# study AND and OR operator.
# AND Operator: Returns True if both conditions are True, otherwise False
a = True
b = False   

result_and = a and b  # False because both conditions are not True
print("AND Operator:", result_and)

# OR Operator: Returns True if at least one condition is True
result_or = a or b  # True because at least one condition is True
print("OR Operator:", result_or)

# Example with numbers
x = 10
y = 5

print("x > 5 and y < 10:", x > 5 and y < 10)  # True (both conditions are True)
print("x > 15 or y < 10:", x > 15 or y < 10)  # True (one condition is True)
print("x > 15 or y > 10:", x > 15 or y > 10)  # False (both conditions are False)

AND Operator: False
OR Operator: True
x > 5 and y < 10: True
x > 15 or y < 10: True
x > 15 or y > 10: False

In [ ]:
# Type conversion : it is an automatics conversion so it done by python interpereter by it self
# example1:
a , b = 2, 1.5
c= a + b
print(c) # since float is superior than int so conversion done in float automatically by python interpreter i.e implicit conversion

3.5

In [ ]:
# but let see it
a = "3" # here a is string not int. you may checkk it as print(type (a)) it will be string
b = 3.4
sum = a+b
print(sum)

TypeError: can only concatenate str (not "float") to str

In [ ]:
# in above case we see error just because here we can apply type conversion.
# now let see : type casting i.e forced type conversion , explicit conversion
a = "3"
b = 3.5
c = int(a) # this is how typr casting happenns
sum = b+c
print(sum) #this time no error

6.5

In [ ]:
# how type casting happens in different data types. it is bassically done by using some function.
# for float use float(a).
# for integer use int(a). 

# but here is some trick
a = "Ram"
b = 3
c = float(a)
sum = c+b
print(sum)
# means type casting can work in some scnerio only you can make an for example you cant convert an string data type value into float.

ValueError: could not convert string to float: 'Ram'