## Data Types and Object:

In [1]:
4 + 5

9

In [2]:
5*3

15

In [3]:
2**6

64

In [ ]:
# Imporrtant preinstallld module math just import and use ! 

import math

math.pi

3.141592653589793

In [10]:
math.e

2.718281828459045

In [ ]:
# One more goood module ! random and remember random values always flactuate between 0 to 1 .
import random

random.random()

0.01889472591538577

In [13]:
random.random()

0.7416867290638529

In [14]:
random.random()

0.251493711704584

In [ ]:
random.choice([1,44,34.5,11])  # its basicallly choose any one of specified  element from list by its random choice .

1

In [21]:
random.choice(["Akash",44,34.5,11])

'Akash'

In [20]:
random.choice(["Apna_bhai",44,34.5,11])

34.5

In [24]:
# exploring some basic string methods !

user_name = " Pankaj "
len(user_name)     # len method conts all total element of string including spaces.

8

In [ ]:
user_name[2]  # its specify the elemt of specified index  , and indexong starts from 0 not by 1.
# Remember spaces also have index ! that's why at 2 we have a not n .

'a'

In [ ]:
course = "Engineering"
course[4]   # clear hai !

'n'

In [ ]:
# string is immutable : 
course = "Engineering"
course[5] = "p"   #Not string is immutable ans we cannot do manipulation in strings  and so striing does't suppport item assignment .

TypeError: 'str' object does not support item assignment

In [29]:
# Negative indexing also works its starts from -1 from last then commming to firts its gets as -2 , -3 ..... as on

course = "Engineering"
course[-1]

'g'

In [30]:

course = "Engineering"
course[-4]

'r'

In [ ]:
# string me slicing ! str_name[x : y  ]  slicing starts from x and goes to index no y-1 and element of y order doest get prints.
course = "Engineering"
course[2:8]

 # we also do negative slicing !

'gineer'

In [36]:
# Lets see some list methods ! 


myList = [123, "chai" , 3.14 , "Pankaj"]

myList

[123, 'chai', 3.14, 'Pankaj']

In [38]:
len(myList)

4

In [ ]:
myList[2] # indexing

3.14

In [42]:
myList[-3] # negative indexing

'chai'

In [ ]:
# Same we have methods for set and tuple we will further discuss more about all set , tuple , lsit , dict , str in this series further.

###  formated string : f

In [ ]:
# The f stands for f-string, which means formatted string literal.

# It was introduced in Python 3.6, and it makes it easy to put variables inside strings.

# Remember always use f before  print statement and put valriable in { } always don't use other bracket or perenthesis okay ! 

name = "Pankaj"
print(f"My name is {name}")

My name is Pankaj

In [ ]:
#ðŸ’¬ Why use f?

# Before f-strings, if you wanted to include a variable in a string, you had to do this:as

name = "Pankaj"
print("My name is ",name)    # Old way


# But after getting f we got it as ! 

print(f"My name is {name}")   # Cleaner & easier

My name is  Pankaj
My name is Pankaj