# Lecture 8:

In [ ]:
# LOOPS IN PYTHON : Loops are used to repeat instruction under specific conditiona and till stopping condition.

In [ ]:
# While loop:

#Syntax of while loop:

i = 0 # initilization of firts element of loop.means at this value loop will start and loop will run further till stopping not gets false.
while i<= 9: # stopping condition. loop keeps running until condition got to false.
    print("hello") # work execution means kaam kya karna hai.
    i += 1 # iterator i.e at what step/pace loop is running.

# This is basics fundamental syntax of  while loop. lets practice
# Don't create infinite loop it is very dangerous.and there is no practical usages of infinite loop.

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
# Infinite loop examples:

while True:
    print("hello")

# and 

i =7
while i < 9:
    print("hello",i)
    i-=1

# are example of while loop.Dont create infinite loop ever.

In [ ]:
# Examples of loop:

#Q1: PRINT NUMBER FROM 1 TO 100.

i = 1
while i<=100: # loop ends at 100
    print(i)
    i+=1
print("loop ended")
print(i)# at here i=100 so at last i+=1 gives 101

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
loop ended
101

In [ ]:
#Q2: print number from 100 to 6
i = 100
while i>=6: # loop ends at 6
    print(i)
    i-=1
print("loop ends")
print(i) # last value of i = 6 butat last i -= 1 will give 6-1=5

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
loop ends
5

In [10]:
# Q3: Print the multiplication of number n:
n=5
i = 1
while i<=10:
    print(n*i)
    i += 1
print("loop ends")

5
10
15
20
25
30
35
40
45
50
loop ends

In [ ]:
#  print all even vaues between 10 to 80 both are inclusive:
i = 0
while i<=80:
    print(i)
    i +=2
    # got it it working norms

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80

In [ ]:
# Print the element of following loop using while loop:
list1 = [1,4,9,16,25,36,,64,81,100]
idx = 0
while idx < len(list1): # we can also specify here while idx <= len(list)-1:
    print(list1[idx])
    idx+=1

1
4
9
16
25
36
49
64
81
100

In [5]:
# find the element X from following tuple.
tuple1 = (1,4,9,16,25,36,49,64,81,49,100)
X = 49
idx = 0
while idx < len(tuple1): # again we can also specify it as, while idx <= len(tuple)-1 : ,as :
    if(tuple1[idx] == X):
        print("number X found at idx:",idx)
    else:
        print("finding...")
    idx+=1
print("helooo sadhu")

finding...
finding...
finding...
finding...
finding...
finding...
number X found at idx: 6
finding...
finding...
number X found at idx: 9
finding...
helooo sadhu

In [ ]:
# Breaks and Continues in while loops;

# 1 : Breaks used to terminate / stop the loop when it inititated.
i = 0
while i < 10 :                                                                  # while , break , for , continues and range  are keywords here.
    print("hello",i)
    if(i == 4): # however loop will run at i=4 but after that it will stop.
        break  
    i += 1
print("loop ends")
# sos this is ussages of break in loop. letsee one more example.

hello 0
hello 1
hello 2
hello 3
hello 4
loop ends

In [3]:
# understanding breaks via example:
tuple1 = (1,4,9,16,25,36,49,64,81,49,100)
X = 49
idx = 0
while idx < len(tuple1): # again we can also specify it as, while idx <= len(tuple)-1 : ,as :
    if(tuple1[idx] == X):
        print("number X found at idx:",idx)
        break # how ever first time apperence of X value will print and aftyer that loop will stop. lets see
    else:
        print("finding...")
    idx+=1
print("loop ends")    # this is out of loop and will print surely you know .
# got it

finding...
finding...
finding...
finding...
finding...
finding...
number X found at idx: 6
loop ends

In [ ]:
# continues 
# continues just terminate in  current iteration and continues executions of the loop with next iteration.

i = 0
while i < 10 : 
    if (i == 3):
        i += 1 # when i will be 3 it fill face intanatly 3+1= become 4 and for i= 4 will print and i= 3 value will not print.
        continue # continues all legitimate execution of loop cases.
    print("hello",i)
    i += 1
print("loop ended.")    # loop dse matlab nii

hello 0
hello 1
hello 2
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
loop ended.

In [9]:
# continue best examples
# print all odd no between 0 to 20 .
i = 0
while i < 20:
    if (i%2==0):
        i += 1
        continue
    print(i)    
    i += 1
print("hatt peechhheeee")

1
3
5
7
9
11
13
15
17
19
hatt peechhheeee

In [ ]:
# print all even number between 0 t0 20: both are inclusive
i = 0
while i <= 20 : 
    if (i%2 != 0):
        i += 1
        continue
    print(i)
    i += 1
print("khhhattttak")

0
2
4
6
8
10
12
14
16
18
20
khhhattttak

In [ ]:
# FOR LOOP:

# for loop is used for sequential traversal i.e traversing on list , tuple, string.
#  syntax is              for val in name  :
#                             # some work                 here (for , in ) are key words and name refers to list/tuples/string and  val refers to it elements :

tuple1 = (1,4,9,16,25,36,49,64,81,49,100)
for val in tuple1:
    print(val)
print('end of loop')

1
4
9
16
25
36
49
64
81
49
100
end of loop

In [ ]:
list1 = [1,4,9,16,25,36,64,81,100,"apun", "don banega jon", "hello friends"]
for elem in list1:
    print(elem)

1
4
9
16
25
36
64
81
100
apun
don banega jon
hello friends

In [18]:
veggies = ["Ladyfinger","Carrot", "Cucumber"]
for sabji in veggies:
    print(sabji)

Ladyfinger
Carrot
Cucumber

In [ ]:
# optional use of else in loop
# use it only when loop runs without break it does't work with break :

list1 = [1,4,9,16,25,36,64,81,100,"apun", "don banega jon", "hello friends"]
for val in list1:
    print(val)
else:
    print("loop ended")

1
4
9
16
25
36
64
81
100
apun
don banega jon
hello friends
loop ended

In [25]:
#  else does't work with break see
list1 = [1,4,9,16,25,36,64,81,100,"apun", "don banega jon", "hello friends"]
for val in list1:
    print("val")
    if (val == 81):
        print("mission complete")
        break
else:
    print("loop ended")

val
val
val
val
val
val
val
val
mission complete

In [ ]:
# so if you have break  use direct method that priint after loop complition:
list1 = [1,4,9,16,25,36,64,81,100,"apun", "don banega jon", "hello friends"]
for val in list1:
    print("val")
    if (val == 81):
        print("mission complete")
        break
else:
    print("loop ended")    
print("loop ended") # is tarah okay.

val
val
val
val
val
val
val
val
mission complete
loop ended

In [28]:
# practice time :
# Q1: print element of following list using for loop:
list1 = [1,4,9,16,25,36,64,81,100,"apun", "don banega jon", "hello friends"]
for  val in list1:
    print(val)

1
4
9
16
25
36
64
81
100
apun
don banega jon
hello friends

In [ ]:
# Q2: search for following numberi x in tuple :
tuple1 = (1,4,9,16,25,36,49,64,81,49,64,100,64)
X = 64
idx = 0
for val in tuple1:
    if(val == X):
        print("X found at:", idx)
    else: 
        print("not found")
        idx +=1
print("loop ended")        
# this concept of searching is ca;lled liear search.

not found
not found
not found
not found
not found
not found
not found
X found at: 7
not found
not found
X found at: 9
not found
X found at: 10
loop ended

In [ ]:
# Range in loops:
# Range function returns the sequence of numbers , starting form 0(by default),increment by 1 (by default) and stops at specified point.
# range(start?,stop,step?):start and step is optional but stop point should be must specified.
# start will be specifide if not it will be start from 0 by default.
#stop will be specified as obligatory.
# step will be specifed if not it will start gap of giving 1.

# some cases:   
range(5):   # here 5 will be stopping point where 5 will not get included, starting by default 0 and steps size by default 1
range(2,8):  # here  2 is starting point and 8 is stoping point where 8 is exclusive and by defult step size is 1.
range(3,11,2): # here 3 is starting point, 11 is stoping point and 2 is step size.
# step size can be negative and it is use for decresing series.
# stopping point value and starting value may be +ve or -ve.

In [35]:
# Q1: 
for val in range(8):
    print(val)

0
1
2
3
4
5
6
7

In [36]:
# Q2: 
for val in range (2,25):
    print(val)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [38]:
# Q3:
for elem in range(5,35,2):
    print(elem)

5
7
9
11
13
15
17
19
21
23
25
27
29
31
33

In [39]:
#Q4:
for val in range(110, 50,-2):
    print(val)

110
108
106
104
102
100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52

In [40]:
# Q1: print number fro 1 to 100:
for val in range (1,101,1):
    print(val)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [41]:
# Q2: print no 200 to -10
for elem in range(200,-11,-1):
    print(elem)

200
199
198
197
196
195
194
193
192
191
190
189
188
187
186
185
184
183
182
181
180
179
178
177
176
175
174
173
172
171
170
169
168
167
166
165
164
163
162
161
160
159
158
157
156
155
154
153
152
151
150
149
148
147
146
145
144
143
142
141
140
139
138
137
136
135
134
133
132
131
130
129
128
127
126
125
124
123
122
121
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [ ]:
# print the multiplication table of n:
n = 14 # you can urtge form user input as well.
for el in range(1,11,1): 
    print(n*el)

14
28
42
56
70
84
98
112
126
140

In [ ]:
#Q: Print the odd value between 20 to 50:
for val in range (21,50,2):
    print(val)

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
# Q:print the even value between 15 to 80; 80 is inclusive.
for val in range (16,80,2):
    print(val)  # PANKAJ YADAV ,ERA MAA,

16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78

In [ ]:
# PASS STATEMENT:
# pass statement is null spaces that does nothing .Just uses as placeholder for future code.

In [ ]:
for val in range (15): # if you left loop witout any work and tries to run it will throw an error.to solve it we uses pass see

_IncompleteInputError: incomplete input (2204795490.py, line 2)

In [ ]:
# USING PASS
for val in range (3,14,2):
    pass 
print("we put pass here for your future refernce") # ab koi issue nii hai.

we put pass here for your future refernce

In [52]:
# WAP to find the sum of first n natiural numner(using for and while loop):
# using while loop:
i=0
n=12
sum= 0
while i<=n:
    sum += i
    i += 1
print("sum of first 12 number is:",sum)

sum of first 12 number is: 78

In [69]:
# using for loop:
sum = 0
n = 12
for val in range (0,n+1):
    sum += val
    
print("sum of first 12 number is :",sum)

sum of first 12 number is : 78

In [ ]:
# Write a program to find factorial of number n:(using for  loop and while also)
#  Using while loop:
i = 1 # dont put 0 othetrwisee all factorial value will be 0
fact = 1
n = 5
while i < n:
    i += 1
    fact *= i
print("Factorial of number 5 is:",fact)

factorial of number 5 is: 120

In [1]:
# using for loop:

fact = 1
n = 7
for val in range(1,n+1):
    fact*=val
print("Factorial of 7 will be: ",fact)

Factorial of 7 will be:  5040

In [ ]:
# Diffrence in usages of while loop and for loop: